

/*home page*/

h1.main {
  background: url('blob.png') right center no-repeat;
  background-size: contain;
}

td.seqlogo {
  background-image: url( '/static/logo_300_DPI.png' );
  width: 300px;
  border: 6px solid #fff;
}

td.additional_data {
  background-color: #eee;
  padding: 1em; 
}
