h1.main {
  background: url('blob.png') right center no-repeat; 
  background-size: contain; 
}

form.analysis textarea { width: 100%;}
form.analysis label { display: none; }

td.metadata table tr td {
 padding: 1em;
}

.seqlogo {
	background: no-repeat;
	background-position: top left; 
	background-size: 100%; 
}
