{% extends "base.html" %}
{% block title %}SEEK: Browse{% endblock %}
{% block content %}

<div class="page-header">
  <!-- <h1>Thank you for your submission</h1>
  <p class="lead">Submissions are reviewed by the SEEK Team, so please give us a few days before your
    submission becomes public. The full SEEK database with your contribution is available below and both
    <a href="">your submission</a> and the <a href="">complete database</a> are available in CSV format.</p>
  <p class="lead"><small>Need help? Email the <a href="">SEEK Team</a></small></p> -->

  <h1>Standardized database: kinetic constants</h1>
  <p class="lead">Michaelis-Menten constants for our model systems</p>
</div>

<table class="table table-hover">
  <thead>
    <tr>
      <th>Enzyme</th>
      <th>Soluble<br>expression<br>in <em>E. coli</em></th>
      <th>Substrate</th>
      <th>k<sub><em>cat</em></sub> (min<sup>&ndash;1</sup>)</th>
      <th>K<sub><em>M</em></sub> (mM)</th>
      <th>k<sub><em>cat</em></sub>/K<sub><em>M</em></sub>&nbsp;(M<sup>&minus;1</sup>min<sup>&minus;1</sup>)</th>
      <!-- <th>Frequency of residues in Pfam</th> -->
    </tr>
    <!-- <tr>
      <td></td>
      <td></td>
      <td></td>
      <td>min<sup>&ndash;1</sup></td>
      <td>M</td>
      <td>1/M*min</td>
      <td>Sequence logo</td>
    </tr> -->
  </thead>
  <tbody>

{% for mutant_name, entry in entry_list %}
    <tr data-toggle="collapse" data-target="#id_{{ loop.index }}" aria-expanded="false">
      <td>
        <b>BglB</b> <small>{{ mutant_name }}</small>
      </td>

      <td style="background-color: rgba(0,0,0,{{ entry.expression }})">
        {{ entry.expression }}
      </td>

      <td>
        <a href="https://pubchem.ncbi.nlm.nih.gov/summary/summary.cgi?cid={{entry.cid}}">pNPG</a>
      </td>

      <td style="background-color:{{entry.kcat|colorize( 880 )}}">
        {{ entry.kcat }}
      </td>

      <td style="background-color:{{entry.kcat|colorize( 5.5 )}}">
        {{ entry.km }}
      </td>

      <td style="background-color:{{entry.kcat|colorize( 174000 )}}">
        {{ entry.kcatkm }}
      </td>

      <!-- <td class="seqlogo" style="background-position: -130px -{{ 147 + ( 25.5 * entry.sequence_pos ) }}px" /></td> -->
    </tr>

    <!-- metadata drop-down clicky thing for each row -->
    <tr class="collapse" id="id_{{ loop.index }}">
      <td class="additional_data" colspan=100>
        <p><strong>Published</strong> <a href="http://dx.doi.org/10.1371/journal.pone.0147596">PloS one, 2016</a> </p>
      </td>
    </tr> <!-- end item additional data -->

{%endfor%}
</tbody>
</table>
{% endblock %}
