{% extends "base.html" %}
{% block title %}SEEK - Materials and methods: &beta;-glucosidase B{% endblock title %}
{% block content %}

<div class="page-header">
  <h1>Materials and methods: &beta;-glucosidase B</h1>
  <p class="lead">Complete interactive protocol to get started with enzyme engineering</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Introduction</h2>

    <p>This page is an interactive protocol designed to be used by anyone equipped with
      basic lab equipment. Look over the prerequisites at right to decide if you're
      ready to get started.</p>
  </div>
  <div class="col-md-4">
    <h2>Metadata</h2>
	<ul>
    <li>Addgene: <a href="https://www.addgene.org/browse/article/8557/">BglB in pET29b(+)</a></li>
    <li>Organism: <em>Paenibacillus polymyxa</em></li>
    <li>Uniprot: <a href="http://www.uniprot.org/uniprot/P22505">P22505</a></li>
    <li>PDB: <a href="http://www.rcsb.org/pdb/explore/explore.do?structureId=2jie">2JIE</a></li>
    <li>EC: <a href="http://www.brenda-enzymes.info/php/result_flat.php4?ecno=3.2.1.21">3.2.1.21</a></li>
	</ul>
  </div>
  <div class="col-md-4">
    <h2>Hardware</h2>
    <ul>
      <li>Centrifuge</li>
      <li>Thermal cycler or dry bath </li>
      <li>Shaking incubator</li>
      <li>Computer to run Foldit</li>

    </ul>
  </div>
</div>

{% endblock content %}
